.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    height: 60px
}

.navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    height: 100%;
    align-items: auto;
}

.navbar-links li{
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    height: 100%;
    padding: 0 0.5rem;
}

.navbar-links li a:hover {
    background-color: #fff;
    color: #333;
}