.ageShell {
    padding-top: 50px;
    padding-left: 50px;
    display: block;
}

h1 {
    padding-bottom: 50px;
}

p {
    padding-bottom: 25px;
}

.services {
    padding-left: 50px;
}

.links {
    padding-left: 50px;
    color: #143642;
}

.learnHeader {
    text-align: center;
}