.slideshow {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.slide {
    display: inline-block;
    height: 500px;
    width: 100%;
    vertical-align: bottom;
    text-align: center;
    color: white;
}

.slideshowDots {
    padding: 20px;
    text-align: center;
}
.slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
}

.slideshowDot.active {
    background-color: #59C9A5;
}

.headers{
    padding: 100px;
    font-size: 60px;
}